<div class="container-fluid py-5" id="about">
  <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Who Am I</h1>
          <h1 class="position-absolute  text-primary">Kimim Ben</h1>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-5 pb-4 pb-lg-0">
              <img class="img-fluid rounded w-100" src="../../../assets/img/profile2.jpg" alt="">
          </div>
          <div class="col-lg-7">
              <h3 class="mb-4">Full Stack Developer</h3>
              <p>{{about.ozetMetin}}</p>
              <div class="row mb-3">
                  <div class="col-sm-6 py-2"><h6>İsmim: <span class="text-secondary">{{about.fullName}}</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Doğum Tarihi: <span class="text-secondary">{{about.dogumTarih | date: 'dd/MM/yyyy'}}</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Mezuniyet: <span class="text-secondary">{{about.mezuniyetDurum}}</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Deneyim (Yıl): <span class="text-secondary">{{about.deneyimSuresi}}</span></h6></div>
                  <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">{{about.email}}</span></h6></div>
              </div>
          </div>
      </div>
  </div>
</div>