$body-font-size: 12px;

$label-font-size: 0.875rem;
$label-width: 80px;
$label-font-weight: 500;

$navbar-font-size: 1rem;
$navbar-icon-size: 1.6rem;
$navbar-background: #343434;

$navbar-border-li-left: 1px solid rgba(255, 255, 255, 0.1);
$navbar-border-li-bottom: 1px solid rgba(255, 255, 255, 0.1);
$navbar-border-ul-left: 1px solid rgba(255, 255, 255, 0.1);

$top-bar-detail-font-size: 11px; // Çalışma yılı alanının font size

$header-font-size: 0.875rem;
$button-font-size: 0.875rem;
$topbar-font-size: 0.875rem;
$grid-border-color: #eff0f6;

$input-padding: 0.375rem 0.75rem;
$header-padding: 0.75rem 1.25rem;
$button-padding: 5px 14px;

$card-header-color: #3d8ad0;
$card-border-color: #3d8ad0; // for stripped

$card-header-background-color: #3d8ad0 !important; // for card-colored
$card-border: 0px solid #fff; // for card-colored

$input-border-color: 1px solid transparent;

$dx-list-padding: 5px 0;


$dx-icon-size: 12px/1;
$dynamic-select-box-background: #248f48;
$dynamic-select-box-hover-background:  #1b6a36;
$dynamic-select-box-icon: #fff;


$grid-button-success: #248f48; 
$grid-button-success-background: rgba(13, 46, 24, 0.8);
$grid-button-primary: #39f;
$grid-button-primary-background: rgba(51, 153, 255, 0.8);
$grid-button-danger: #de2727;
$grid-button-danger-background: rgba(222, 39, 39, 0.8);
